{{ partial "header.html" . }}
	<main id="archive">
		<header>
			<h1>{{ .Title }}</h1>			
		</header>
		{{ $.Scratch.Set "year" 0 }}
		{{ range .Data.Pages }}
		{{ if ne ($.Scratch.Get "year") .Date.Year}}
		{{ if ne ($.Scratch.Get "year") 0 }}
		</section>
		{{ end }}
		{{ $.Scratch.Set "year" (.Date.Year) }}
		<section>
			<h2>{{ .Date.Year }}</h2>
		{{ end }}
			<article class="{{ .Type }}">
				<h1><a href="{{ .Permalink }}"></a>{{ .Title }}</a></h1>
				<time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" }}" pubdate>{{ .Date.Format "Jan 2" }}</time>
				<footer>
					<a rel="bookmark" href="{{ .Permalink }}">§</a>
					• <span class="categories">posted in <a class="category" href="{{ "blah" }}">blah</a></span>
				</footer>
			</article>
		{{ end }}
		</section>
	</main>
{{ partial "footer.html" . }}
