/* Config for all fonts here. Not all used in screen.css. Copy new ones as needed. */
@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-blk.woff2') format('woff2'),
         url('/fonts/srccode-blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-blkit.woff2') format('woff2'),
         url('/fonts/srccode-blkit.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-bld.woff2') format('woff2'),
         url('/fonts/srccode-bld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-bldit.woff2') format('woff2'),
         url('/fonts/srccode-bldit.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-xlt.woff2') format('woff2'),
         url('/fonts/srccode-xlt.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-xltit.woff2') format('woff2'),
         url('/fonts/srccode-xltit.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-it.woff2') format('woff2'),
         url('/fonts/srccode-it.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-lt.woff2') format('woff2'),
         url('/fonts/srccode-lt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-ltit.woff2') format('woff2'),
         url('/fonts/srccode-ltit.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-med.woff2') format('woff2'),
         url('/fonts/srccode-med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-medit.woff2') format('woff2'),
         url('/fonts/srccode-medit.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-reg.woff2') format('woff2'),
         url('/fonts/srccode-reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-sbld.woff2') format('woff2'),
         url('/fonts/srccode-sbld.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/srccode-sbldit.woff2') format('woff2'),
         url('/fonts/srccode-sbldit.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-blk.woff2') format('woff2'),
         url('/fonts/srcsans-blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-blkit.woff2') format('woff2'),
         url('/fonts/srcsans-blkit.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-bld.woff2') format('woff2'),
         url('/fonts/srcsans-bld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-bldit.woff2') format('woff2'),
         url('/fonts/srcsans-bldit.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-xlt.woff2') format('woff2'),
         url('/fonts/srcsans-xlt.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-xltit.woff2') format('woff2'),
         url('/fonts/srcsans-xltit.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-it.woff2') format('woff2'),
         url('/fonts/srcsans-it.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-lt.woff2') format('woff2'),
         url('/fonts/srcsans-lt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-ltit.woff2') format('woff2'),
         url('/fonts/srcsans-ltit.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-reg.woff2') format('woff2'),
         url('/fonts/srcsans-reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-sbld.woff2') format('woff2'),
         url('/fonts/srcsans-sbld.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/fonts/srcsans-sbldit.woff2') format('woff2'),
         url('/fonts/srcsans-sbldit.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FAB';
    src: url('/fonts/fa-brands.woff2') format('woff2'),
         url('/fonts/fa-brands.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FAS';
    src: url('/fonts/fa-solid.woff2') format('woff2'),
         url('/fonts/fa-solid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FAR';
    src: url('/fonts/fa-reg.woff2') format('woff2'),
         url('/fonts/fa-reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
