    <article class="{{ .doc.Type }}">
        <header>
            {{- if .doc.Params.link }}
            <h1 class="link"><a href="{{ .doc.Params.link }}">{{ .doc.Title }}</a></h1>
            {{- else if .list }}
            <h1 class="post"><a href="{{ .doc.RelPermalink }}">{{ .doc.Title }}</a></h1>
            {{- else }}
            <h1 class="title">{{ .doc.Title }}</h1>
            {{- end }}
            <a rel="bookmark" href="{{ .doc.Permalink }}"></a>
            <time datetime="{{ .doc.Date.UTC.Format "2006-01-02T15:04:05Z" }}">{{ .doc.Date.Format "2 Jan 2006" }}</time>
        </header>{{ if (and .doc.Params.image (not .doc.Params.image.metaonly)) }}
{{ partial "figure.html" (dict "Params" .doc.Params.image "Page" .doc "Site" .doc.Site "feed" .feed) }}{{ end }}
        <div class="text">
{{/* XXX Move footnote return into the paragraph above it. */}}
{{  .doc.Content | replaceRE "(</p>)\\n\\s*(<a class=\"footnote-return\"[^>]+>[^<]+</a>)" " $2$1" | safeHTML }}
{{- with .doc.Params.via }}
            <p>(Via <a href="{{ .href }}"{{ with .title }} title="{{ .}}"{{ end }}>{{ .name }}</a>)</p>
{{ end }}
{{- if and .doc.Aliases (hasPrefix .doc.File.Dir "post/past/") }}{{ with (index .doc.Aliases 0) }}
            <p class="past"><small>Looking for the comments? Try the <a rel="nofollow" href="https://past.justatheory.com{{ . }}">old layout</a>.</small></p>
{{- end }}{{ end }}
        </div>
{{ partial "tags.html" .doc }}
    </article>
