    <article class="{{ .doc.Type }}">
        <header>
            {{- if .doc.Params.link }}
            <h1 class="link"><a href="{{ .doc.Params.link }}">{{ .doc.Title }}</a></h1>
            {{- else if .list }}
            <h1 class="post"><a href="{{ .doc.RelPermalink }}">{{ .doc.Title }}</a></h1>
            {{- else }}
            <h1 class="title">{{ .doc.Title }}</h1>
            {{- end }}
            <a rel="bookmark" href="{{ .doc.Permalink }}"></a>
            <time datetime="{{ .doc.Date.UTC.Format "2006-01-02T15:04:05Z" }}">{{ .doc.Date.Format "Jan 2, 2006" }}</time>
        </header>
        <div class="text">
{{ .doc.Content }}
        </div>
{{ partial "tags.html" .doc }}
    </article>
