{{- $zoom := (and (eq .Page.Type "photo") (ne .feed true) (not .Params.link)) -}}
{{- $src := partial "link.html" (dict "Page" .Page "Site" .Site "src" .Params.src) -}}
{{- $id := md5 $src }}
{{ if $zoom }}{{ if not .top }}</div>
{{ end }}<input class="zoom" type="checkbox" id="{{ $id }}"/>
<label for="{{ $id }}">{{- end }}
	<figure{{ with .Params.class }} class="{{ . }}"{{ end }}{{ with or .Params.title .Params.alt }} title="{{ partial "attr.html" . }}"{{ end }}>
		{{- if .Params.link }}
		{{- $link := partial "link.html" (dict "Page" .Page "Site" .Site "src" .Params.link) -}}
		<a href="{{ $link }}"{{ with .Params.target }} target="{{ . }}"{{ end }}{{ with .Params.rel }} rel="{{ . }}"{{ end }}>
			<img src="{{ $src }}"{{ with .Params.alt }} alt="{{ partial "attr.html" . }}"{{ end }}{{ with .Params.title }} title="{{ partial "attr.html" . }}"{{ end }}{{ with .Params.width }} width="{{ . }}"{{ end }}{{ with .Params.height }} height="{{ . }}"{{ end }} />
		</a>
		{{- else }}
			<img src="{{ $src }}"{{ with .Params.alt }} alt="{{ partial "attr.html" . }}"{{ end }}{{ with .Params.title }} title="{{ partial "attr.html" . }}"{{ end }}{{ with .Params.width }} width="{{ . }}"{{ end }}{{ with .Params.height }} height="{{ . }}"{{ end }} />
		{{- end }}
		{{- if or (or .Params.heading .Params.caption) .Params.attr }}
		<figcaption>{{ with .Params.heading }}
			<h4>{{ . | markdownify }}</h4>{{ end }}
			<p>{{ if $zoom }}⧉ {{ end }}{{ with .Params.caption }}{{ . | markdownify }}{{ end }}{{ if .Params.attr }}
				<cite>Image: {{ with .Params.attrLink}}<a href="{{ . }}">{{ end }}{{ .Params.attr | markdownify }}{{ if .Params.attrLink }}</a>{{ end }}</cite>
			{{ end }}{{ with .Params.copyright }}
				<cite>©&nbsp;{{ . | markdownify }}</cite>
			{{ end }}</p>
		</figcaption>
		{{- end }}
	</figure>{{ if $zoom }}
</label>{{ if not .top }}
<div class="text">{{ end }}{{ end }}
