{{ partial "header.html" . }}
	<main id="{{ .Type }}">
		<header>
			<h1>{{ .Title }}</h1>
		</header>
		{{- $.Scratch.Set "year" 0 }}
		{{- range .Data.Pages }}
		{{- if ne ($.Scratch.Get "year") .Date.Year}}
		{{- if ne ($.Scratch.Get "year") 0 }}
		</section>
		{{- end }}
		{{- $.Scratch.Set "year" (.Date.Year) }}
		<section>
			<h2 class="year">{{ .Date.Year }}</h2>
		{{- end }}
			<article class="{{ .Type }}">
				<header>
					{{- if .Params.link }}
					<h1 class="link"><a href="{{ .Params.link }}">{{ .Title }}</a></h1>
					{{- else }}
					<h1 class="post"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
					{{- end }}
				</header>
				<footer>
					<time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format "Jan 2" }}</time>
					<a rel="bookmark" href="{{ .Permalink }}"></a>
					{{- if .Params.categories }}
					<p>Filed under</p>
					<ul class="cats">
						{{- range .Params.categories}}
						<li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
						{{- end }}
					</ul>
					{{- end }}
				</footer>
			</article>
		{{- end }}
		</section>
	</main>
{{ partial "footer.html" . }}
