{{ partial "header.html" . }}
	<main id="{{ .Type }}">
		<header>
			<h1>{{ .Title }}</h1>
		</header>
		{{- $.Scratch.Set "year" 0 }}
		{{- range where .Site.Pages "Type" "in" (slice "post") }}
		{{- if ne ($.Scratch.Get "year") .Date.Year}}
		{{- if ne ($.Scratch.Get "year") 0 }}
		</section>
		{{- end }}
		{{- $.Scratch.Set "year" (.Date.Year) }}
		<section>
			<h2 class="year">{{ .Date.Year }}</h2>
		{{- end }}
			<div>
				<header>
					{{- if .Params.link }}
					<h1 class="link"><a href="{{ .Params.link }}">{{ .Title }}</a></h1>
					{{- else }}
					<h1 class="post"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
					{{- end }}
				</header>
				{{ if .Description }}<p>{{ .Description }}</p>{{ end }}
				<footer>
					<time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05Z" }}">{{ .Date.Format "Jan 2" }}</time>
					<a rel="bookmark" href="{{ .Permalink }}"></a>
					{{- if .Params.tags }}
					<p>Filed under <a href="{{ "/tags/" | relLangURL }}{{ index (.Params.tags) 0 | urlize }}">{{ index (.Params.tags) 0 }}</a></p>
					{{- end }}
				</footer>
			</div>
		{{- end }}
		</section>
	</main>
{{ partial "footer.html" . }}
