{{ partial "header.html" . }}
	<main id="{{ .Type }}">
		<header>
			<h1 class="title">{{ .Title }}</h1>
		</header>
		<div id="tags">
			<p>Most {{ .Site.Title }} posts have been “tagged” with keywords. If you’re interested in only a subset of posts, just read the relevant tag pages. You can even subscribe to a tag — just point your feed reader at it.</p>
			{{- $yearAgo := now.AddDate (int (mul -1 .Site.Params.recentTagYears)) 0 0 }}
			{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.listTypes }}
			{{- $.Scratch.Set "yearTags" (dict) }}
			{{- range $pages }}
				{{- if gt .Date $yearAgo }}{{ range .Params.tags }}
					{{ if isset ($.Scratch.Get "yearTags") . }}
						{{- $c := index ( $.Scratch.Get "yearTags" ) . }}
						{{- $.Scratch.SetInMap "yearTags" . (dict "tag" . "cnt" (add 1 (index $c "cnt"))) }}
					{{- else }}
						{{- $.Scratch.SetInMap "yearTags" . (dict "tag" . "cnt" 1) }}
					{{- end }}
				{{- end }}{{ end }}
			{{- end }}
			{{- with $.Scratch.Get "yearTags" }}
			<h4>Recently covered subjects</h4>
			<ul class="tags rec">
				{{- $.Scratch.Set "limit" 0 }}
				{{- range sort . ".cnt" "desc" }}
					{{- $.Scratch.Set "limit" (add ($.Scratch.Get "limit") 1) }}
					{{- if le ($.Scratch.Get "limit") 10 }}
				<li><a href="/tags/{{ .tag | urlize }}/">{{ .tag }}</a></li>
					{{- end }}
				{{- end }}
			</ul>
			{{- end }}
			<h4>All-time leading topics</h4>
			<ul class="tags rec">
				{{- $.Scratch.Set "limit" 0 }}
				{{- range $key, $value := .Data.Terms.ByCount }}
					{{- $.Scratch.Set "limit" (add ($.Scratch.Get "limit") 1) }}
					{{- if le ($.Scratch.Get "limit") 10 }}
				<li><a href="/tags/{{ $value.Name | urlize }}/">{{ $value.Name }}</a></li>
					{{- end }}
				{{- end }}
			</ul>
			<h2>Complete List</h2>
			{{-  $.Scratch.Set "chars" (slice) }}
			{{- range .Data.Pages }}
				{{- $.Scratch.Add "chars" (upper (printf "%c" (index .Title 0))) }}
			{{- end }}
			{{- $data := .Data }}
			{{- range uniq ($.Scratch.Get "chars") -}}
				{{- $char := . }}
			<h5>{{ $char }}</h5>
			<ul class="tags {{ $char }}">
				{{- range $data.Pages }}
					{{- if eq $char (upper (printf "%c" (index .Title 0))) }}
				<li><a href="{{ .RelPermalink }}">{{ .Data.Term }}</a></li>
					{{- end }}
				{{- end }}
			</ul>
			{{- end }}
		</div>
	</main>
{{ partial "footer.html" . }}
