{{ partial "header.html" . }}
	<main id="{{ .Type }}">
		<header>
			<h1 class="title">{{ .Title }}</h1>
		</header>
		<div id="tags">
			<p>Most {{ .Site.Title }} posts have been “tagged” with keywords. If you’re interested in only a subset of posts, just read the relevant tag pages. You can even subscribe to a tag — just point your feed reader at it.</p>
			{{- $yearAgo := now.AddDate (int (mul -1 .Site.Params.recentTagYears)) 0 0 }}
			{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.postTypes }}
			{{/* Get the counts of all tags within the period. */}}
			{{- $yearTags := dict }}
			{{- range $pages }}
				{{- if gt .Date $yearAgo }}{{ range .Params.tags }}
					{{- if isset $yearTags . }}
						{{- $yearTags = merge $yearTags (dict . (add 1 (index $yearTags .))) }}
					{{- else }}
						{{- $yearTags = merge $yearTags (dict . 1)}}
					{{- end }}
				{{- end }}{{ end }}
			{{- end }}
            {{- with $yearTags }}
				{{/* Now map all the counts to their tags */}}
				{{- $cntTags := dict }}
				{{- range $tag, $cnt := $yearTags }}
					{{- $key := printf "%04v" $cnt }}
					{{- if isset $cntTags $key }}
						{{- $cntTags = merge $cntTags ( dict $key ((index $cntTags $key) | append $tag) )}}
					{{- else }}
						{{- $cntTags = merge $cntTags ( dict $key (slice $tag) )}}
					{{- end }}
				{{- end }}
				{{/* And finally, iterate over the list ordered by keys */}}
            <h4>Recently covered subjects</h4>
            <ul class="tags rec">
				{{- $num := 0 }}
				{{- range first 10 (sort $cntTags "" "desc") }}
					{{- range sort . }}
						{{- if lt $num 10 }}
							{{- $num = (add $num 1) }}
                <li><a href="/tags/{{ . | urlize }}/">{{ . }}</a></li>
						{{- end }}
					{{- end }}
                {{- end }}
            </ul>
            {{- end }}{{/*
			<h4>All-time leading topics</h4>
			<ul class="tags rec">
				{{- range first 10 .Data.Terms.ByCount }}
				<li><a href="/tags/{{ .Name | urlize }}/">{{ .Name }}</a></li>
				{{- end }}
			</ul>
			*/}}<h2>Complete List</h2>
			{{-  $chars := slice }}
			{{- range .Data.Pages }}
				{{- $chars = $chars | append (upper (substr .Title 0 1)) }}
			{{- end }}
			{{- $data := .Data }}
			{{- range sort (uniq $chars) -}}
				{{- $char := . }}
			<h5>{{ $char }}</h5>
			<ul class="tags {{ $char }}">
				{{- range $data.Pages }}
					{{- if eq $char (upper (substr .Title 0 1)) }}
				<li><a href="{{ .RelPermalink }}">{{ .Data.Term }}</a></li>
					{{- end }}
				{{- end }}
			</ul>
			{{- end }}
		</div>
	</main>
{{ partial "footer.html" . }}
