{{ partial "header.html" . }}
	<main id="{{ .Type }}">
		<header>
			<h1 class="title">{{ .Title }}</h1>
		</header>
		<div id="tags">
			{{- $.Scratch.Set "char" '0' }}
			{{- range .Data.Pages }}
			{{- $char = upper (index .Title 0) }}
			{{- if ne ($.Scratch.Get "char") $car }}
			{{- if ne ($.Scratch.Get "char") '0' }}
			</ul>
			{{- end }}
			{{- $.Scratch.Set "char" $char }}
			<h5>{{ printf "%c" $char }}</h5>
			<ul class="tags {{ index .Title 0 }}">
			{{- end }}
				<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{- end }}
			</ul>
		</div>
	</main>
{{ partial "footer.html" . }}
