name: Build
on: push
jobs:
  build:
    name: Build Just a Theory
    runs-on: ubuntu-latest
    steps:
      - name: Check out Source
        uses: actions/checkout@v4
      - name: Build the Site
        # https://github.com/gohugoio/hugo/issues/12991
        # uses: docker://ghcr.io/gohugoio/hugo:v0.135.0
        uses: docker://hugomods/hugo:base-0.153.4
        with: { entrypoint: hugo }
      - name: Generate Publish Script
        run: ./bin/publish public justatheory.com E1X44SJ45FTNGI 1 > publish.sh
      - name: Publish the Site
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        uses: docker://amazon/aws-cli
        env:
          AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
          AWS_REGION: us-west-1 # https://github.com/aws/aws-cli/issues/5234
          LC_ALL: en_US.UTF-8 # https://github.com/aws/aws-cli/issues/1368#issuecomment-955108041
        with:
          entrypoint: bash
          args: publish.sh
